* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
}

h1 {
    color: rgb(112, 112, 112);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-gallery-about-activities {
    display: flex;
    margin: 20px 20px 0px 20px;
    flex-wrap: inherit;
    justify-content: space-between;
}

.container-gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container-about-activities {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about {
    border: 1px solid gray;
    padding: 19px;
    text-align: justify;
    margin: 20px;
}

.activity {
    border: 1px solid gray;
    padding: 20px;
    text-align: justify;
    margin: 20px;
}

.container-contact-map-price-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: inherit;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
}

.myForm label {
    display: block;
}

.myForm input {
    width: 200px;
}

.myForm input [type="text"],
.myForm textarea {
    width: 200px;
    height: 151px;
}

.button {
    color: white;
    background-color: #222;
    cursor: pointer;
}

.button:hover {
    background-color: gray;
    color: white;
}

.myForm {
    height: 400px;
    border: 1px solid gray;
    padding: 5px;
    margin: 20px;
}

.prices {
    height: 400px;
    width: 340px;
    border: 1px solid gray;
    padding: 5px;
    margin: 20px;
}

.reviews {
    height: 400px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    text-align: justify;
}

.location {
    width: 320px;
    height: 400px;
    border: 1px solid gray;
    padding: 5px;
    margin: 20px;
}

img {
    vertical-align: middle;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}