body {
    font-size: larger;
    color: yellow;
    background-color: dodgerblue;
    /* background-color: rgb(88, 202, 240); */
    ;
    text-align: justify;
    height: 550px;
    width: 550px;
    margin: auto;
}