body {
    background-image: url('Images/background.jpg');
  }
  header{
    background-image: url('Images/background-header.jpg');
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 40px;
  }
.mainText {
    background-image: url('Images/background-header.jpg');
    margin-left: 40%;
    margin-right: 5%;
    margin-bottom: 50px;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    text-align: left;
    text
}
.floatImage{
    float: left;
    margin-left: 40px;
    border:solid black 1px;
    padding: 2px;
}
.floatSmallImage{
    float: left;
    margin-left: 40px;
}
.listStyle {
    float: right;
    margin-right:20%;
    font-size: 22px;
    background-image: url('Images/background-header.jpg');
}


#map {
   float:left;
   margin-left: 40px;

}
.review {
float: left;
width: 29%;
margin: 1%;
padding: 1%;
height: 150px;
font-style: italic;font-style: italic;
}
.button {
    position: absolute;
    top:6%;
    left:3.5%;        
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {
    background-color: rgb(190, 214, 214)
    } 
 
h4 {
    text-align: center;

}

h3{
    position: absolute;
   top: 124%;
    left: 38%;
    text-decoration: underline;
    text-decoration-color:rgb(0,0,255);
    font-size: large;
    color:rgb(29, 24, 24);

}
.contacts{
    position: absolute;
    text-align: left;
    top:5%;
    left: 77%;
}
